.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-box {
  width: 90%;
  max-width: 380px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  text-align: center;
  animation: fadeIn 0.6s ease;
}

.login-box input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.login-box button {
  width: 100%;
  padding: 14px;
  border: none;
  background: black;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.link {
  margin-top: 15px;
  color: #007bff;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px);}
  to   { opacity: 1; transform: translateY(0);}
}







.google-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 14px 16px;
  margin-top: 16px;

  background: #ffffff;
  color: #333;
  font-size: 16px;
  font-weight: 500;

  border-radius: 12px;
  border: 1px solid #ddd;
  cursor: pointer;

  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.google-btn:hover {
  background: #f7f7f7;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
  transform: translateY(-1px);
}

.google-btn:active {
  transform: scale(0.98);
}

.google-icon {
  width: 22px;
  height: 22px;
}




/* ---------------- MOBILE RESPONSIVE ---------------- */
@media (max-width: 600px) {
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.login-box input {
  width: 90%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}



}